*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/mobile-release.aab
/wear-release.aab
/mobile/wear-release.apk
/mobile/mobile-release.apk
/wear/release
/mobile/release
/mobile/src/main/ic_launcher-playstore.png
/mobile/src/debug
/wear/src/debug
/wear/src/main/ic_launcher-playstore.png
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
